@import "/src/colors.scss";

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $lightgrey-color;
}

.signup-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: $white-color;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-title {
  font-size: 2em;
  margin-bottom: 1em;
  color: $darkgrey-color;
}

.signup-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;

  label {
    font-size: 0.9em;
    margin-bottom: 0.5em;
    color: $darkgrey-color;
  }

  .ant-input {
    padding: 10px;
    border: 1px solid $darkgrey-color;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.25s;
  }

  .ant-input:focus {
    border-color: $yellow-color;
    box-shadow: 0 0 0 2px $yellow-color;
  }
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: $darkgrey-color;
  color: $white-color;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

.signup-button:hover {
  background-color: $yellow-color;
  color: $darkgrey-color;
}

.signup-button:focus {
  outline: none;
}

@media (prefers-color-scheme: light) {
  .signup-container {
    background-color: $white-color;
  }

  .signup-form {
    background-color: $lightgrey-color;
  }

  .signup-button {
    background-color: $lightgrey-color;
    color: $black-color;
  }
}
